@import "../../shared/styles";

.container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.body {
    font-size: 1.4rem;
    text-align: center;

    &::before {
        content: ".";
        display: block;
        visibility: hidden;
        line-height: 1em;
    }
}

.row {
    height: 5rem;

    &:not(:last-child) > td {
        border-bottom: 0.1rem solid var(--color-lighter-gray);
    }
}

/* ================================================================================
   Themes
   ================================================================================ */

@mixin theme-light {
    & .container {
        color: var(--color-dark);
    }
}

@mixin theme-dark {
    & .container {
        color: currentColor;
    }
}
