@define-mixin ripple $color: #2196f3 {
    background-color: $color;
    background-position: center;
    cursor: pointer;
    transition: background var(--duration-longer);

    &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    }

    &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }
}
