@import "../../styles";

.container {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 1rem;
        padding: 0.3rem;
        transform: translateY(1.8rem) rotate(45deg);
        display: inline-block;
        border: solid currentColor;
        border-width: 0 0.2rem 0.2rem 0;
        pointer-events: none;
    }
}

.bordered > .select {
    border-width: 0.1rem;
    border-style: solid;
    transition: border-color var(--duration-fast) ease-in-out;
}

.select {
    @mixin unstyled-select;

    min-width: 15rem;
    padding: 1.4rem 3rem 1.4rem 0;
    direction: rtl;
    font-size: 1.8rem;
}

/* ================================================================================
   Themes
   ================================================================================ */

@mixin theme-light {
    & .bordered {
        &:hover > .select {
            border-color: var(--color-dark-gray);
        }

        & > .select {
            border-color: var(--color-gray);
        }
    }
}

@mixin theme-dark {
    & .bordered {
        &:hover > .select {
            border-color: var(--color-light-gray);
        }

        & > .select {
            border-color: var(--color-gray);
        }
    }
}
