@import "../../styles";

:root {
    --size-logo: 3.5rem;
}

.container {
    padding: 0.8rem 1.5rem;
    transition: background-color var(--duration-long) ease-in-out;
}

.content {
    position: relative;
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    color: var(--color-light-gray);
    font-size: 2.2rem;
    text-decoration: none;
}

@mixin theme-light {
    & .title {
        color: var(--color-light-gray);
    }
}

@mixin theme-dark {
    & .container {
        background-color: var(--color-dark-gray);
    }

    & .title {
        color: var(--color-lighter-gray);
    }
}

.logo {
    width: var(--size-logo);
    height: var(--size-logo);
    margin-right: 0.8rem;
}

.search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
