/* ==========================================================================
   Custom media queries - for more information check https://github.com/postcss/postcss-custom-media

   Use it like so: @media (--layout-small) { ... }
   ========================================================================== */

/* Use these if you are developing for desktop first and want to target lower resolutions (including) */

@custom-media --layout-xxsmall (width <= 23.4375em); /* 375px */
@custom-media --layout-xsmall (width <= 30em); /* 480px */
@custom-media --layout-small (width <= 48em); /* 768px */
@custom-media --layout-medium (width <= 64em); /* 1024px */
@custom-media --layout-large (width <= 120em); /* 1920px */
