/* ==========================================================================
   Colors
   ========================================================================== */

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #181818;
    --color-primary: #129e5a;
    --color-darker-gray: #414549;
    --color-dark-gray: #333;
    --color-gray: #515151;
    --color-light-gray: #5f6368;
    --color-lighter-gray: #e3e3e3;
    --color-transparent: color(var(--color-white) a(0%));
}

/* ==========================================================================
   Z-index
   ========================================================================== */

:root {
    --z-index-base: 0;
}

/* ==========================================================================
   Transitions / Animations timings
   ========================================================================== */

:root {
    --duration-fast: 100ms;
    --duration-standard: 300ms;
    --duration-long: 500ms;
    --duration-longer: 800ms;
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
    --font-product: "Product Sans";
    --font-family: var(--font-product), "Roboto", "Helvetica", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
}

/* ==========================================================================
   Layout
   ========================================================================== */

:root {
    --max-width-layout: 120rem;
    --background-color-light: var(--color-white);
    --background-color-dark: var(--color-dark);
}
