@import "../../styles";

:root {
    --border-top-size: 0.5rem;
    --border-size: 0.4rem;
}

.container {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        padding: 0.3rem;
        transform: rotate(45deg);
        display: inline-block;
        border: solid currentColor;
        border-width: 0 0.3rem 0.3rem 0;
        pointer-events: none;
    }
}

.select {
    min-width: 10rem;
    border: none;
    background: none;
    color: currentColor;
    font-size: 1.8rem;
    cursor: pointer;
    appearance: none;
}

/* @mixin theme-light {
    & .container::after {
        border-top: var(--border-top-size) solid var(--color-black);
    }
}

@mixin theme-dark {
    & .container::after {
        border-top: var(--border-top-size) solid var(--color-white);
    }
} */
